// Here you can add other styles

.map-card {
    .card-body {
        padding: 0px;
    }
}

.fire-list-card,
.site-list-card {
    .card-body {
        height: 600px;
        overflow-y: scroll;
    }
}

.speed {
    .metka {
      stroke:#fff;
      stroke-width:5;
    }
    .number {
      fill:#fff;
      font-weight:700;
      font-size:16px;
      opacity:0.8;
      font-family: 'Open Sans', sans-serif;
    }
}

.header-with-switches {
  .header-title {
    margin-top: 7px;
    display: inline-block;
  }
  .switch-img-group {
    margin-top: 5px;
    img {
      margin-top: -16px;
    }
  }
}

.nav-avatar {
  &[aria-expanded='true'] {
    .img-avatar {
      transform: scale(1.1,1.1);
    }
  }
  .img-avatar {
    &:hover {
      transform: scale(1.1,1.1);
    }
  }
}